<style type="text/css">
  body {
    background-color: #ddd;
    font-family: Arial, sans-serif;
    text-align: center;
    padding: 10px;
  }

  #plugin-container {
    margin: 20px auto;
    border: 1px solid #ccc;
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    max-width: 400px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }

  #imgur-image {
    margin-top: 10px;
    max-width: 100%;
    border-radius: 5px;
  }
</style>